@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    border-color: #e4e4e7;
    outline-color: rgb(9 9 11 / 0.5);
  }

  .dark * {
    border-color: #27272a;
    outline-color: rgb(212 212 216 / 0.5);
  }

  body {
    background-color: #fff;
    color: #09090b;
  }

  .dark body {
    background-color: #09090b;
    color: #fafafa;
  }
}
